@import url(https://fonts.googleapis.com/css?family=Pacifico); //CSS import
@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";

body {
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
  color: #FF4400;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 300%;
  @extend %center;
}

#logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $navHeight + $commonMargin;
  height: $logoHeight;
}

// #logo {
//   position: relative;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: $navHeight + $commonMargin;
//   height: $logoHeight;
// }

#bg_image {
  position: fixed;
  z-index: -1;
}

#content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

#nav {
  display: block;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 10px 0 10px;
  background-color: black;
  opacity: 0.5;
  // &.hide {
  //   transition: top 0.3s ease-in-out;
  //   top: -$navHeight;
  // }
}

// #nav {
//   margin-right: 50px;
//   display: block;
//   width: 100%;
//   background-color: black;
//   opacity: 0.5;
//   z-index: 1;
//   // &.hide {
//   //   transition: top 0.3s ease-in-out;
//   //   top: -$navHeight;
//   // }
// }

.absolute {
  position: absolute;
  top: $logoHeight;
}

// .absolute {
//   position: absolute;
//   top: $logoHeight;
// }

.fixed {
  position: fixed;
  top: 0;
}

#nav_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    float: left;
    .nav_item {
      display: block;
      padding: $navTextPadding;
      font-family: Impact, Charcoal, sans-serif;
      font-size: $navTextSize;
      text-decoration: none;
      &:link, &:visited, &:hover, &:active { color:#555555; }
      &:hover{
        background-color: red;
      }
      &.selected{
        background-color: yellow;
      }
    }
  }
}

// get rid at the end
.spacer {
  // @extend %curved_corners;
  display: block;
  position: relative;
  margin: $commonMargin;
  height: 400px;
  background-color: black;
  opacity: 0.5;
}
// h1 {
//   font-family: roboto, sans-serif;
//   @extend %center;
// }

// .banner {
//   font-family: 'pacifico', cursive;
//   height: 400px;
//   background-image: url($lemonade-banner);
//   border: {
//     top: $border;
//     bottom: $border;
//   } 

//   .slogan {
//     @extend %absolute;
//     background-color: $translucent-white;
//     border: 4px solid black;
//     top: 200px;
//     left: 25%;
//     line-height: 200px;
//     @include dimensions(50%, 200px);

//     span {
//       @extend %absolute;
//       @extend %center;
//       width: 40%;
//       left: 30%;
//     }
//   }
// }

// .container {
//   font-family: 'pacifico', cursive;

//   .icon {
//     display: inline-block;
//     margin: 2%;
//     border: $border;
//     @include dimensions(300px, 300px);
//   }
// }