@import url(https://fonts.googleapis.com/css?family=Pacifico); //CSS import
@import "helper/fonts";
@import "helper/variables";
@import "helper/placeholders";
@import "helper/mixins";

body {
	z-index: 1;
	margin: 0;
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	@extend %central;
	@include defineTextStyle(2*$commonMargin, $commonFontFamily, 400%, rgb(200,200,200));
}

h2 {
	@extend %central;
	@include defineTextStyle(2*$commonMargin, $commonFontFamily, 250%, rgb(150,150,150));
}

h3 { @include defineTextStyle(0.5*$commonMargin, $commonFontFamily, 250%, rgb(255,255,255)); }
h4 { @include defineTextStyle(0.5*$commonMargin, $commonFontFamily, 150%, rgb(150,150,150)); }
h5 {
	@include defineTextStyle(0, $commonFontFamily, 250%, rgb(255,255,255)); 
	letter-spacing: 1px;
}
h6 {
	@include defineTextStyle(0, $commonFontFamily,  150%, rgb(150,150,150)); 
	letter-spacing: 1px;
}

p {
	@extend %central;
	@include defineTextStyle(0 4*$commonMargin $commonMargin 4*$commonMargin, $secondaryFontFamily, 130%, rgb(255,255,255));
}

.side_text { @include exactSplit(45%, left); }
.splitter { @include exactSplit(50%, left); }

.iframe_div {
	@include exactSplit(55%, right);
	iframe {
		float: right;
		margin: $commonMargin;
	}

}

#logo {
	position: relative;
	padding-top: $commonMargin;
	display: block;
	width: 100%;
}

#bg_image {
	position: fixed;
	z-index: -1;
}

#content {
	margin: 0 10% 0 10%;
	height: 100%;
	position: relative;
}

#nav {
	@include hasBorderImage(url(../images/border1.png), $navBorderWidth);
	height: $navHeight;
	display: block;
	box-sizing: border-box;
	z-index: 1;
	#nav_menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			.nav_item {
				display: block;
				padding: $commonMargin;
				font-family: $commonFontFamily;
				font-size: $navTextSize;
				text-decoration: none;
				&:link, &:visited, &:active { color:rgb(255,255,255); }
				@include fadeInOut(opacity, 1, 0.5, 0.15s);
			}
		}
	}
	&.is_absolute {
		position: absolute;
		width: 100%;
	}
	&.is_fixed {
		transition: margin-top 0.3s ease-in-out;
		position: fixed;
		top: 0;
		width: 80%;
		&.hide {
			margin-top: -$navHeight;
		}
	}
}

#social_media {
	display: inline-block;
	height: 100%;
	float: right;
}

.social_media_img {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	height: 100%;
	padding: $commonMargin $commonMargin $commonMargin 0;
}

.section { overflow: auto; }

#news { padding-top: $navHeight + 2*$commonMargin; }
#footer {
	overflow: auto;
	margin-bottom: 4*$commonMargin;
}

.spacer {
	@extend .section;
	@include hasBorderImage(url(../images/border2.png), $commonBorderWidth);
	display: block;
	position: relative;
	margin: $commonMargin 0 0 0;
	padding: 0;
}

.album_tile {
	@include exactSplit(33.333333%, left);
	display: inline-block;
	position: relative;
	text-align: center;
	.album_tile_inner {
		@include hasBorderImage(url(../images/border2.png), $commonBorderWidth);
		padding: $commonMargin;
		position: relative;
	}
  // Adjust tile margins based on their position
  &:nth-child(3n - 1) { .album_tile_inner { margin: $commonMargin 2*$commonMargin/3 0 0; } }
  &:nth-child(3n),{ .album_tile_inner     { margin: $commonMargin $commonMargin/3 0 $commonMargin/3; } }
  &:nth-child(3n + 1) { .album_tile_inner { margin: $commonMargin 0 0 2*$commonMargin/3; } }
  .cover {
  	display: inline-block;
  	position: relative;
  	width: 70%;
  	border-radius: $commonRadius;
  }
  .buy_options {
  	display: block;
  	text-align: center;
  	.buy_button {
  		@include curvedCorners($buttonRadius);
  		margin: $commonMargin;
  		display: inline-block;
  		position: relative;
  		border: $thinWhiteBorder;
  		padding: $commonMargin/2;
  		&:hover {background-color: darken($commonBackground, 100%); }
  	}
  }
}

.tour_item_row {
	@include fadeInOut(background-color, transparent, rgba(0, 0, 0, 0.2), 0s);
	position: relative;
	overflow: auto;
	border-top: $thinWhiteBorder;
	padding: $commonMargin 2*$commonMargin $commonMargin 2*$commonMargin;
	margin: 0 2*$commonMargin 0 2*$commonMargin;
	&:first-of-type { margin-top: 4*$commonMargin }
	&:last-of-type {
		border-bottom: $thinWhiteBorder;
		margin-bottom: 4*$commonMargin;
	}
	.tickets {
		@include curvedCorners($buttonRadius);
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0 $commonMargin $commonMargin 0;
		border: $thinWhiteBorder;
		padding: $commonMargin/2;
		&:hover {background-color:  rgba(0, 0, 0, 1); }
	}
}