<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>

	<!-- Javascript libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<!-- Javascript scripts-->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/scroll_behaviour.js"></script>

	<!-- Angular scripts-->
	<script src="js/controllers/MainController.js"></script>
	<script src="js/directives/album.js"></script>
	<script src="js/directives/tourItem.js"></script>

	<!-- Css sheet -->
	<link rel="stylesheet" type="text/css" href="sass/main.css">

</head>
<body ng-app="RadioheadApp">
	<img id="bg_image" src="images/radiohead_bg.jpg" width="100%" />
	<div id="content" ng-controller="MainController">

		<img id="logo" src="images/radiohead_logo.png" />

		<div id="nav" class="is_absolute">
			<ul id="nav_menu">
				<li><a class="nav_item" href="#news">News</a></li>
				<li><a class="nav_item" href="#tour_dates">Tour</a></li>
				<li><a class="nav_item" href="#media">Media</a></li>
				<li><a class="nav_item" href="#bookings">Bookings</a></li>
				<li><a class="nav_item" href="#music">Music</a></li>
			</ul>
			<div id="social_media">
				<a href="https://www.facebook.com/radiohead/">
					<img class="social_media_img" src="images/facebook.png" />
				</a>
				<a href="https://twitter.com/radiohead/">
					<img class="social_media_img" src="images/twitter.png" />
				</a>
				<a href="https://www.instagram.com/radiohead/">
					<img class="social_media_img" src="images/instagram.png" />
				</a>
			</div>
		</div>

		<div class="section" id="news">
			<div class="spacer">
				<h1>News</h1>
			</div>
			<div class="spacer">  
				<div class = "side_text">
					<h2>"A moon shaped pool" now released!</h2>
					<p>
						Donec sodales, nisi id tincidunt dictum, ipsum nisl volutpat sapien, id fringilla lectus nunc at ex. Sed odio nisi, tempor eu bibendum et, molestie sit amet diam. Quisque tempor metus sapien, quis dictum libero volutpat in. Praesent sit amet lacus et dui finibus tristique. Morbi eget sollicitudin neque. Morbi condimentum in augue vitae tincidunt. Sed sodales diam nec ligula egestas, id blandit odio rhoncus.
					</p>
				</div>
				<div class="iframe_div">
					<div>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/yI2oS2hoL0k" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>

		<div class="section" id="tour_dates">
			<div class="spacer">  
				<h1>Tour</h1>
			</div>
			<div class="spacer"> 
				<div>
					<div class="tour_item_row" ng-repeat="tourItem in tourItems">
						<tour-item info="tourItem"></tour-item>
					</div>
				</div>
			</div>
		</div>

		<div class="section" id="media">
			<div class="spacer">
				<h1>Media</h1>
				<p>
					Suspendisse aliquet pretium vestibulum. Aenean volutpat massa purus, eget congue felis elementum sed. Pellentesque id sem fermentum, pharetra augue id, mattis magna. Integer ultrices erat in maximus laoreet. Proin at molestie est, ac facilisis quam. Phasellus finibus, ligula sed accumsan cursus, velit nisl feugiat lectus, vitae fringilla velit odio ut enim. Sed non felis turpis. Nullam imperdiet mi turpis, eu finibus augue iaculis sed. In sagittis faucibus lectus. Fusce in lectus tincidunt, vestibulum felis id, dignissim sapien. Proin sit amet metus eu dolor laoreet tincidunt ac vitae metus. Sed egestas orci metus, id porttitor ante vehicula et. Maecenas facilisis massa eget aliquam commodo. Vivamus massa sapien, condimentum consequat justo non, venenatis tempor felis. Etiam posuere rutrum nunc. Donec ac leo fermentum, aliquam massa ac, rhoncus nisi.

					Praesent sapien mauris, lacinia finibus mauris in, ultrices ultrices leo. Nunc sed turpis id ipsum hendrerit volutpat a sed sapien. Sed at turpis sed lorem condimentum dapibus bibendum a eros. Pellentesque purus ex, bibendum non tincidunt et, egestas condimentum elit. Nulla facilisis vulputate eros, nec mattis lacus euismod eu. In eu nibh et ex ullamcorper posuere. Proin tempus sem sed libero tempor dapibus. Morbi at leo non odio rhoncus finibus porta vitae orci. Pellentesque tellus diam, volutpat nec magna in, consectetur condimentum sem. Vestibulum consectetur hendrerit rhoncus.

					Mauris aliquet arcu nec mi pulvinar imperdiet. Morbi et pharetra risus, sit amet facilisis turpis. Nulla cursus risus non mauris egestas, quis pulvinar ante tristique. Praesent sit amet leo non nulla eleifend lobortis id et ligula. Donec vel aliquam augue. Etiam fringilla lacus ut diam sagittis, sed venenatis erat interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu interdum velit. Pellentesque ut lorem in erat imperdiet rutrum. Pellentesque euismod augue consectetur metus cursus pulvinar eu ac tortor. Morbi quis odio et ex sollicitudin tempus vitae in risus. Nulla pulvinar, mi porttitor faucibus ullamcorper, lectus magna condimentum urna, in blandit sem libero eget massa. Maecenas vitae tellus quis ex lacinia fermentum eu a tortor.

					Suspendisse tempus, nisl nec rutrum scelerisque, lectus justo feugiat quam, ut aliquet neque augue vel dolor. Pellentesque finibus elit quis enim varius dictum eget sed diam. Nulla id finibus nibh. Aenean bibendum feugiat lorem, ac ultricies sem ultricies ultrices. Nam vehicula odio non lectus ultricies dignissim. Integer suscipit quis mi vel congue. Nam ut lacinia est, in pretium orci. Curabitur vehicula nunc et lacus bibendum gravida. Aliquam quis scelerisque magna, vitae tristique justo. Cras interdum lectus nec dolor rutrum, eu fermentum nisi finibus.
				</p>
			</div>
		</div>

		<div class="section" id="bookings">
			<div class="spacer">
				<h1>Bookings</h1>
				<p>
					Praesent sapien mauris, lacinia finibus mauris in, ultrices ultrices leo. Nunc sed turpis id ipsum hendrerit volutpat a sed sapien. Sed at turpis sed lorem condimentum dapibus bibendum a eros. Pellentesque purus ex, bibendum non tincidunt et, egestas condimentum elit. Nulla facilisis vulputate eros, nec mattis lacus euismod eu. In eu nibh et ex ullamcorper posuere. Proin tempus sem sed libero tempor dapibus. Morbi at leo non odio rhoncus finibus porta vitae orci. Pellentesque tellus diam, volutpat nec magna in, consectetur condimentum sem. Vestibulum consectetur hendrerit rhoncus.

					Mauris aliquet arcu nec mi pulvinar imperdiet. Morbi et pharetra risus, sit amet facilisis turpis. Nulla cursus risus non mauris egestas, quis pulvinar ante tristique. Praesent sit amet leo non nulla eleifend lobortis id et ligula. Donec vel aliquam augue. Etiam fringilla lacus ut diam sagittis, sed venenatis erat interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu interdum velit. Pellentesque ut lorem in erat imperdiet rutrum. Pellentesque euismod augue consectetur metus cursus pulvinar eu ac tortor. Morbi quis odio et ex sollicitudin tempus vitae in risus. Nulla pulvinar, mi porttitor faucibus ullamcorper, lectus magna condimentum urna, in blandit sem libero eget massa. Maecenas vitae tellus quis ex lacinia fermentum eu a tortor.

					Suspendisse tempus, nisl nec rutrum scelerisque, lectus justo feugiat quam, ut aliquet neque augue vel dolor. Pellentesque finibus elit quis enim varius dictum eget sed diam. Nulla id finibus nibh. Aenean bibendum feugiat lorem, ac ultricies sem ultricies ultrices. Nam vehicula odio non lectus ultricies dignissim. Integer suscipit quis mi vel congue. Nam ut lacinia est, in pretium orci. Curabitur vehicula nunc et lacus bibendum gravida. Aliquam quis scelerisque magna, vitae tristique justo. Cras interdum lectus nec dolor rutrum, eu fermentum nisi finibus.

					Suspendisse aliquet pretium vestibulum. Aenean volutpat massa purus, eget congue felis elementum sed. Pellentesque id sem fermentum, pharetra augue id, mattis magna. Integer ultrices erat in maximus laoreet. Proin at molestie est, ac facilisis quam. Phasellus finibus, ligula sed accumsan cursus, velit nisl feugiat lectus, vitae fringilla velit odio ut enim. Sed non felis turpis. Nullam imperdiet mi turpis, eu finibus augue iaculis sed. In sagittis faucibus lectus. Fusce in lectus tincidunt, vestibulum felis id, dignissim sapien. Proin sit amet metus eu dolor laoreet tincidunt ac vitae metus. Sed egestas orci metus, id porttitor ante vehicula et. Maecenas facilisis massa eget aliquam commodo. Vivamus massa sapien, condimentum consequat justo non, venenatis tempor felis. Etiam posuere rutrum nunc. Donec ac leo fermentum, aliquam massa ac, rhoncus nisi.

					Nulla cursus risus non mauris egestas, quis pulvinar ante tristique. Praesent sit amet leo non nulla eleifend lobortis id et ligula. Donec vel aliquam augue. Etiam fringilla lacus ut diam sagittis, sed venenatis erat interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu interdum velit. Pellentesque ut lorem in erat imperdiet rutrum. Pellentesque euismod augue consectetur metus cursus pulvinar eu ac tortor. Morbi quis odio et ex sollicitudin tempus vitae in risus. Nulla pulvinar, mi porttitor faucibus ullamcorper, lectus magna condimentum urna, in blandit sem libero eget massa. Maecenas vitae tellus quis ex lacinia fermentum eu a tortor.

					Aenean volutpat massa purus, eget congue felis elementum sed. Pellentesque id sem fermentum, pharetra augue id, mattis magna. Integer ultrices erat in maximus laoreet. Proin at molestie est, ac facilisis quam. Phasellus finibus, ligula sed accumsan cursus, velit nisl feugiat lectus, vitae fringilla velit odio ut enim. Sed non felis turpis. Nullam imperdiet mi turpis, eu finibus augue iaculis sed. In sagittis faucibus lectus. Fusce in lectus tincidunt, vestibulum felis id, dignissim sapien. Proin sit amet metus eu dolor laoreet tincidunt ac vitae metus. Sed egestas orci metus, id porttitor ante vehicula et. Maecenas facilisis massa eget aliquam commodo. Vivamus massa sapien, condimentum consequat justo non, venenatis tempor felis. Etiam posuere rutrum nunc. Donec ac leo fermentum, aliquam massa ac, rhoncus nisi.
				</p>
			</div>
		</div>

		<div class="section" id="music">
			<div class="spacer">
				<h1>Music</h1>
			</div> 
			<div class="album_tile" ng-repeat="album in albums">
				<album info="album"></album>
			</div>
		</div>

		<div id="footer"></div>
	</div>
</body>
</html>

