@font-face {
	font-family: rhFont;
	src: url(./fonts/headlineone.ttf) format("truetype");
}

@font-face {
	font-family: rhFontSecondary;
	src: url(./fonts/headlinetwo.ttf) format("truetype");
}