// Sass variables

// $lee: "../images/lee_scratch_perry.jpg";
$logoHeight: 150px;
$navTextSize: 30px;
$navTextPadding: 10px;
$navTopSpace: 30px;
$navHeight: $navTextSize + 2*$navTextPadding + 6px; // Accounts for inconsistency between alledged font sizing and actual pixel sizing
$toHide: $navHeight + $navTopSpace;
$commonMargin: 10px;